$primary: #7B61FF;      // Фиолетовый (акцент)
$primary-hover: #917CFF;
$secondary: #333335;    // Вторичные кнопки/элементы

$black: #000000;        // Основной фон
$dark: #19191B;         // Фон сайдбара
$graphite: #242426;     // Фон карточек и поиска

$white: #FFFFFF;        // Текст заголовков
$light: #AFB2B6;        // Вторичный текст (жанры, год)

$font-main: 'Inter', sans-serif;