@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $black;
  color: $white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

button, input, textarea {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}